// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.entry {
  .title {
    font-size:18px;
    font-weight:bold;
    text-shadow:1px 1px 1px rgba(90, 90, 90, 0.5);
  }

  .meta {
    padding:5px;
    background:#f0f0f0;
    font-size:10px;
    color:#999;

    p {
      margin:0;
      padding:0;
    }
  }
}
